@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", "Roboto", sans-serif;
}
:root {
    --primary-color: #00162e;
    --secundary-color: #1c3550;
    --tertiary-color: #6C757D;
    --background-color: #F8F9FA;
    --text-color: #1c2024;
    --button-color-primary: #28A745;
    --button-hover-color-primary: #218838;
    --button-color-secondary: #d31811;
    --button-hover-color-secondary: #a4160e;
}

/*estilo do header*/
header {
    background-color: var(--primary-color);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*tamanho da logo*/
header>img {
    width: 6%;
}

/*estilo do nav*/
nav a {
    color: var(--background-color);
    text-decoration: none;
    margin-right: 20px;
    font-size: 1.2rem;
}

nav a:hover {
    text-decoration: underline;
}

/*estilo dos botões*/
.button {
    background-color: var(--button-color-primary);
    color: var(--background-color);
    border: none;
    padding: 15px 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

/*efeito hover dos botões*/
.button:hover {
    background-color: var(--button-hover-color-primary);
} 

/*estilo do banner*/
.banner {
    background-image: url(../img/teste4.jpg);
    color: var(--background-color);
    text-align: center;
    padding: 50px 20px;
    background-position: center;
    background-size: cover;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*estilo do título e parágrafo do banner*/
.banner h1 {
    font-size: 3em;
    margin-bottom: 20px;
    box-shadow: #00162e 0px 0px 10px;

}
.banner p {
    font-size: 1.5rem;
    margin-bottom: 30px;
    font-weight: bold;
}

/*estilo da seção de planos*/
.servicos {
    background-color: var(--background-color);
    padding: 50px 40px;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    padding: ;
}

/*tamanho das imagens dos planos*/
img {
    max-width: 20%;
}

/*estilo dos planos*/
.blocos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    padding: 10px;
    font-size: 1.2rem;
}
